.desktop {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background: linear-gradient(180deg, rgb(151.3, 196.42, 206.32) 38.54%, rgba(139.54, 85.64, 181.89, 0) 97.92%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px none;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.desktop .img {
    height: 691px;
    left: 141px;
    object-fit: cover;
    position: absolute;
    top: 167px;
    width: 530px;
}

.desktop .overlap {
    background: linear-gradient(180deg, rgb(91.14, 142.34, 158.51) 0%, rgba(91.14, 142.34, 158.51, 0) 100%);
    height: 695px;
    left: 751px;
    position: absolute;
    top: 163px;
    width: 569px;
}

.desktop .manage-your-XPNS {
    color: transparent;
    font-family: "Graduate-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 92px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 67px;
    width: 460px;
}

.desktop .text-wrapper {
    color: #ffffff;
}

.desktop .span {
    color: #c1cc81;
}

.desktop .rectangle {
    background-color: #e9e4ee;
    border-radius: 29px;
    height: 68px;
    left: 182px;
    position: absolute;
    top: 558px;
    width: 206px;
}

.desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Familjen Grotesk-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 212px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 568px;
    width: 169px;
}

.desktop .overlap-group {
    background: linear-gradient(180deg, rgb(33.06, 86.15, 97.95) 8.33%, rgb(152, 197, 207) 100%);
    height: 103px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.desktop .ellipse {
    background-color: #2b4a55;
    border-radius: 32px;
    height: 64px;
    left: 1339px;
    position: absolute;
    top: 22px;
    width: 64px;
}

.desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Faster One-Regular", Helvetica;
    font-size: 55px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 317px;
}
